.App {
    font-family: 'Poppins', sans-serif;
    color: white;
}

.mobile-navbar-div {
    background: #67058d;
    border-right: 2rem;
    position: fixed;
    bottom: 0;
}

.pop-button {
    text-align: center;
    background: linear-gradient(122.21deg, rgba(21, 42, 233, 0.15) 55.56%, rgba(118, 116, 116, 0) 100.67%);
    border: 0.5px solid #FFFFFF;
    box-shadow: 7px 8px 19px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
}

.rnb-button {
    text-align: center;
    background: linear-gradient(122.21deg, rgba(21, 42, 233, 0.15) 55.56%, rgba(118, 116, 116, 0) 100.67%);
    border: 0.5px solid #FFFFFF;
    box-shadow: 7px 8px 19px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
}

.rock-button {
    text-align: center;
    background: linear-gradient(122.21deg, rgba(21, 42, 233, 0.15) 55.56%, rgba(118, 116, 116, 0) 100.67%);
    border: 0.5px solid #FFFFFF;
    box-shadow: 7px 8px 19px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
}

.rap-button {
    text-align: center;
    background: linear-gradient(122.21deg, rgba(21, 42, 233, 0.15) 55.56%, rgba(118, 116, 116, 0) 100.67%);
    border: 0.5px solid #FFFFFF;
    box-shadow: 7px 8px 19px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
}

.kpop-button {
    text-align: center;
    background: linear-gradient(122.21deg, rgba(21, 42, 233, 0.15) 55.56%, rgba(118, 116, 116, 0) 100.67%);
    border: 0.5px solid #FFFFFF;
    box-shadow: 7px 8px 19px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
}

.create-comment-button {
    display: block;
    margin: auto;
    margin-top: 1rem;
    padding: .2rem;
    text-align: center;
    background: linear-gradient(122.21deg, rgba(21, 42, 233, 0.15) 55.56%, rgba(118, 116, 116, 0) 100.67%);
    border: 0.5px solid #FFFFFF;
    box-shadow: 7px 8px 19px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    background: linear-gradient(90deg, #FFFFFF -6.26%, #C03AF7 95.26%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.edit-comment-input {
    display: block;
    margin: auto;
    margin-top: 1rem;
    padding: .2rem;
    background: linear-gradient(122.21deg, rgba(122, 24, 241, 0.7) 55.56%, rgba(255, 255, 255, 0.1) 100.67%);
    box-shadow: 7px 8px 19px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
}

.create-comment-input {
    display: block;
    margin: auto;
    margin-top: 1rem;
    padding: .2rem;
    background: linear-gradient(122.21deg, rgba(21, 42, 233, 0.15) 55.56%, rgba(118, 116, 116, 0) 100.67%);
    border: 0.5px solid #FFFFFF;
    box-shadow: 7px 8px 19px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
}

.liked-profiles-button {
    text-align: center;
    background: linear-gradient(122.21deg, rgba(21, 42, 233, 0.15) 55.56%, rgba(118, 116, 116, 0) 100.67%);
    border: 0.5px solid #FFFFFF;
    box-shadow: 7px 8px 19px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
}

.boi-button {
    text-align: center;
    background: linear-gradient(122.21deg, rgba(21, 42, 233, 0.15) 55.56%, rgba(118, 116, 116, 0) 100.67%);
    border: 0.5px solid #FFFFFF;
    box-shadow: 7px 8px 19px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
}


.pop-card {
    background: linear-gradient(302.84deg, #FF4F81 31.56%, #FF9257 85.25%);
    border: 0.5px solid #FFFFFF;
    box-shadow: 7px 8px 19px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
}

.post-comment {
    background: linear-gradient(120.38deg, rgba(255, 255, 255, 0.15) 44.03%, rgba(118, 116, 116, 0) 100.52%);
    border: 0.5px solid #FFFFFF;
    box-shadow: 7px 8px 19px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
}

.liked-card {
    background: linear-gradient(120.38deg, rgba(255, 255, 255, 0.15) 44.03%, rgba(118, 116, 116, 0) 100.52%);
    border: 0.5px solid #FFFFFF;
    box-shadow: 7px 8px 19px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
}

.bog-title {
    background: linear-gradient(90deg, #FFFFFF -6.26%, #C03AF7 95.26%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.boa-title {
    background: linear-gradient(90deg, #FFFFFF -6.26%, #C03AF7 95.26%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}